astroid==4.0.4
certifi==2026.5.20
charset-normalizer==3.4.7
colorama==0.4.6
dill==0.4.1
docker==7.1.0
idna==3.16
iniconfig==2.3.0
isort==8.0.1
labjack-ljm==1.23.0
mccabe==0.7.0
numpy==2.4.4
packaging==26.2
platformdirs==4.10.0
pluggy==1.6.0
psycopg==3.3.3
psycopg-binary==3.3.3
Pygments==2.20.0
questdb==4.1.0
requests==2.34.2
tomlkit==0.15.0
tzdata==2026.1
urllib3==2.7.0
